#sidebar {    
    background: #D6A84C;
    display: flex;
    width: 100%;
    
    > div {
        width: 100%;
        color: #fff;
        font-family: gothamBook, Verdana, Geneva, Tahoma, sans-serif;
        background: #04042D;        
        display: flex;
        align-items: center;

        .brand {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 15px;
            background-color: #020218;
            border-radius: 15px 0 0 0;

            .menu {
                cursor: pointer;
            }
        }

        .link {
            width: 100%;
        
            ul {
                list-style-type: none;
                display: flex;
                
                li {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 015px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;                    

                    >a {
                        margin-left: 15px;
                        color: #fff;
                        opacity: .5;

                        &:hover {
                            opacity: 1;
                        }
                    }                    
                }

                .submenu {
                    margin: 15px;
                    background: #19194B;
                    font-size: 0.9rem;
                    color: rgba(255, 255, 255, .5);
                    border-radius: 10px;
                    
                    div {
                        padding: 10px 15px;
                        
                        &:hover {
                            background: #04042D;
                            cursor: pointer;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
}